<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<!-- Database Configuration -->
	<import resource="config/spring/DataSource.xml"/>
	<import resource="config/spring/HibernateSessionFactory.xml"/>
	<import resource="config/spring/TransactionManager.xml"/>		
 
	<!-- Beans Declaration -->
	<import resource="spring/UsuariosBean.xml"/>
	<import resource="spring/RolesBean.xml"/>
	<import resource="spring/ObrasBean.xml"/>
	<import resource="spring/ClientesBean.xml"/>
	<import resource="spring/EmpleadosBean.xml"/>
	<import resource="spring/PresupuestosBean.xml"/>
	<import resource="spring/VacacionesBean.xml"/>
	<import resource="spring/BajalaboralesBean.xml"/>
	<import resource="spring/FotosBean.xml"/>
	<import resource="spring/ServiciosBean.xml"/>
	<import resource="spring/EquipoBean.xml"/>
	<import resource="spring/InformacionBean.xml"/>
	<import resource="spring/FotosobrasBean.xml"/>
	<import resource="spring/ContactoBean.xml"/>
	<import resource="spring/LocalizacionBean.xml"/>
	
	
</beans>